/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$111_name = '111';
$111_x = 166px;
$111_y = 78px;
$111_offset_x = -166px;
$111_offset_y = -78px;
$111_width = 20px;
$111_height = 20px;
$111_total_width = 201px;
$111_total_height = 124px;
$111_image = '../images/sprites/sprites.png';
$111 = 166px 78px -166px -78px 20px 20px 201px 124px '../images/sprites/sprites.png' '111';
$cake_name = 'cake';
$cake_x = 0px;
$cake_y = 51px;
$cake_offset_x = 0px;
$cake_offset_y = -51px;
$cake_width = 59px;
$cake_height = 47px;
$cake_total_width = 201px;
$cake_total_height = 124px;
$cake_image = '../images/sprites/sprites.png';
$cake = 0px 51px 0px -51px 59px 47px 201px 124px '../images/sprites/sprites.png' 'cake';
$car_name = 'car';
$car_x = 0px;
$car_y = 0px;
$car_offset_x = 0px;
$car_offset_y = 0px;
$car_width = 72px;
$car_height = 46px;
$car_total_width = 201px;
$car_total_height = 124px;
$car_image = '../images/sprites/sprites.png';
$car = 0px 0px 0px 0px 72px 46px 201px 124px '../images/sprites/sprites.png' 'car';
$clock_name = 'clock';
$clock_x = 169px;
$clock_y = 50px;
$clock_offset_x = -169px;
$clock_offset_y = -50px;
$clock_width = 22px;
$clock_height = 22px;
$clock_total_width = 201px;
$clock_total_height = 124px;
$clock_image = '../images/sprites/sprites.png';
$clock = 169px 50px -169px -50px 22px 22px 201px 124px '../images/sprites/sprites.png' 'clock';
$excel_name = 'excel';
$excel_x = 141px;
$excel_y = 78px;
$excel_offset_x = -141px;
$excel_offset_y = -78px;
$excel_width = 20px;
$excel_height = 20px;
$excel_total_width = 201px;
$excel_total_height = 124px;
$excel_image = '../images/sprites/sprites.png';
$excel = 141px 78px -141px -78px 20px 20px 201px 124px '../images/sprites/sprites.png' 'excel';
$garage_name = 'garage';
$garage_x = 141px;
$garage_y = 0px;
$garage_offset_x = -141px;
$garage_offset_y = 0px;
$garage_width = 60px;
$garage_height = 45px;
$garage_total_width = 201px;
$garage_total_height = 124px;
$garage_image = '../images/sprites/sprites.png';
$garage = 141px 0px -141px 0px 60px 45px 201px 124px '../images/sprites/sprites.png' 'garage';
$gift_name = 'gift';
$gift_x = 77px;
$gift_y = 0px;
$gift_offset_x = -77px;
$gift_offset_y = 0px;
$gift_width = 59px;
$gift_height = 46px;
$gift_total_width = 201px;
$gift_total_height = 124px;
$gift_image = '../images/sprites/sprites.png';
$gift = 77px 0px -77px 0px 59px 46px 201px 124px '../images/sprites/sprites.png' 'gift';
$jak_name = 'jak';
$jak_x = 141px;
$jak_y = 50px;
$jak_offset_x = -141px;
$jak_offset_y = -50px;
$jak_width = 23px;
$jak_height = 23px;
$jak_total_width = 201px;
$jak_total_height = 124px;
$jak_image = '../images/sprites/sprites.png';
$jak = 141px 50px -141px -50px 23px 23px 201px 124px '../images/sprites/sprites.png' 'jak';
$list_name = 'list';
$list_x = 0px;
$list_y = 103px;
$list_offset_x = 0px;
$list_offset_y = -103px;
$list_width = 15px;
$list_height = 21px;
$list_total_width = 201px;
$list_total_height = 124px;
$list_image = '../images/sprites/sprites.png';
$list = 0px 103px 0px -103px 15px 21px 201px 124px '../images/sprites/sprites.png' 'list';
$mail_name = 'mail';
$mail_x = 77px;
$mail_y = 76px;
$mail_offset_x = -77px;
$mail_offset_y = -76px;
$mail_width = 23px;
$mail_height = 15px;
$mail_total_width = 201px;
$mail_total_height = 124px;
$mail_image = '../images/sprites/sprites.png';
$mail = 77px 76px -77px -76px 23px 15px 201px 124px '../images/sprites/sprites.png' 'mail';
$phone_red_name = 'phone-red';
$phone_red_x = 77px;
$phone_red_y = 51px;
$phone_red_offset_x = -77px;
$phone_red_offset_y = -51px;
$phone_red_width = 20px;
$phone_red_height = 20px;
$phone_red_total_width = 201px;
$phone_red_total_height = 124px;
$phone_red_image = '../images/sprites/sprites.png';
$phone_red = 77px 51px -77px -51px 20px 20px 201px 124px '../images/sprites/sprites.png' 'phone-red';
$search_name = 'search';
$search_x = 102px;
$search_y = 51px;
$search_offset_x = -102px;
$search_offset_y = -51px;
$search_width = 20px;
$search_height = 20px;
$search_total_width = 201px;
$search_total_height = 124px;
$search_image = '../images/sprites/sprites.png';
$search = 102px 51px -102px -51px 20px 20px 201px 124px '../images/sprites/sprites.png' 'search';
$spritesheet_width = 201px;
$spritesheet_height = 124px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $111 $cake $car $clock $excel $garage $gift $jak $list $mail $phone_red $search;
$spritesheet = 201px 124px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
