/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arr_left_name = 'arr-left';
$arr_left_x = 206px;
$arr_left_y = 145px;
$arr_left_offset_x = -206px;
$arr_left_offset_y = -145px;
$arr_left_width = 7px;
$arr_left_height = 14px;
$arr_left_total_width = 226px;
$arr_left_total_height = 198px;
$arr_left_image = '../images/sprites/sprites.png';
$arr_left = 206px 145px -206px -145px 7px 14px 226px 198px '../images/sprites/sprites.png' 'arr-left';
$arr_right_white_name = 'arr-right-white';
$arr_right_white_x = 218px;
$arr_right_white_y = 126px;
$arr_right_white_offset_x = -218px;
$arr_right_white_offset_y = -126px;
$arr_right_white_width = 7px;
$arr_right_white_height = 14px;
$arr_right_white_total_width = 226px;
$arr_right_white_total_height = 198px;
$arr_right_white_image = '../images/sprites/sprites.png';
$arr_right_white = 218px 126px -218px -126px 7px 14px 226px 198px '../images/sprites/sprites.png' 'arr-right-white';
$arr_right_name = 'arr-right';
$arr_right_x = 206px;
$arr_right_y = 126px;
$arr_right_offset_x = -206px;
$arr_right_offset_y = -126px;
$arr_right_width = 7px;
$arr_right_height = 14px;
$arr_right_total_width = 226px;
$arr_right_total_height = 198px;
$arr_right_image = '../images/sprites/sprites.png';
$arr_right = 206px 126px -206px -126px 7px 14px 226px 198px '../images/sprites/sprites.png' 'arr-right';
$cake_name = 'cake';
$cake_x = 0px;
$cake_y = 51px;
$cake_offset_x = 0px;
$cake_offset_y = -51px;
$cake_width = 59px;
$cake_height = 47px;
$cake_total_width = 226px;
$cake_total_height = 198px;
$cake_image = '../images/sprites/sprites.png';
$cake = 0px 51px 0px -51px 59px 47px 226px 198px '../images/sprites/sprites.png' 'cake';
$car_name = 'car';
$car_x = 0px;
$car_y = 0px;
$car_offset_x = 0px;
$car_offset_y = 0px;
$car_width = 72px;
$car_height = 46px;
$car_total_width = 226px;
$car_total_height = 198px;
$car_image = '../images/sprites/sprites.png';
$car = 0px 0px 0px 0px 72px 46px 226px 198px '../images/sprites/sprites.png' 'car';
$check_white_name = 'check-white';
$check_white_x = 206px;
$check_white_y = 78px;
$check_white_offset_x = -206px;
$check_white_offset_y = -78px;
$check_white_width = 16px;
$check_white_height = 11px;
$check_white_total_width = 226px;
$check_white_total_height = 198px;
$check_white_image = '../images/sprites/sprites.png';
$check_white = 206px 78px -206px -78px 16px 11px 226px 198px '../images/sprites/sprites.png' 'check-white';
$check_name = 'check';
$check_x = 206px;
$check_y = 94px;
$check_offset_x = -206px;
$check_offset_y = -94px;
$check_width = 16px;
$check_height = 11px;
$check_total_width = 226px;
$check_total_height = 198px;
$check_image = '../images/sprites/sprites.png';
$check = 206px 94px -206px -94px 16px 11px 226px 198px '../images/sprites/sprites.png' 'check';
$clock_name = 'clock';
$clock_x = 153px;
$clock_y = 103px;
$clock_offset_x = -153px;
$clock_offset_y = -103px;
$clock_width = 22px;
$clock_height = 22px;
$clock_total_width = 226px;
$clock_total_height = 198px;
$clock_image = '../images/sprites/sprites.png';
$clock = 153px 103px -153px -103px 22px 22px 226px 198px '../images/sprites/sprites.png' 'clock';
$cross_hover_name = 'cross-hover';
$cross_hover_x = 206px;
$cross_hover_y = 164px;
$cross_hover_offset_x = -206px;
$cross_hover_offset_y = -164px;
$cross_hover_width = 10px;
$cross_hover_height = 10px;
$cross_hover_total_width = 226px;
$cross_hover_total_height = 198px;
$cross_hover_image = '../images/sprites/sprites.png';
$cross_hover = 206px 164px -206px -164px 10px 10px 226px 198px '../images/sprites/sprites.png' 'cross-hover';
$cross_name = 'cross';
$cross_x = 206px;
$cross_y = 110px;
$cross_offset_x = -206px;
$cross_offset_y = -110px;
$cross_width = 10px;
$cross_height = 11px;
$cross_total_width = 226px;
$cross_total_height = 198px;
$cross_image = '../images/sprites/sprites.png';
$cross = 206px 110px -206px -110px 10px 11px 226px 198px '../images/sprites/sprites.png' 'cross';
$discount_name = 'discount';
$discount_x = 77px;
$discount_y = 51px;
$discount_offset_x = -77px;
$discount_offset_y = -51px;
$discount_width = 47px;
$discount_height = 44px;
$discount_total_width = 226px;
$discount_total_height = 198px;
$discount_image = '../images/sprites/sprites.png';
$discount = 77px 51px -77px -51px 47px 44px 226px 198px '../images/sprites/sprites.png' 'discount';
$excel_hover_name = 'excel-hover';
$excel_hover_x = 180px;
$excel_hover_y = 103px;
$excel_hover_offset_x = -180px;
$excel_hover_offset_y = -103px;
$excel_hover_width = 20px;
$excel_hover_height = 20px;
$excel_hover_total_width = 226px;
$excel_hover_total_height = 198px;
$excel_hover_image = '../images/sprites/sprites.png';
$excel_hover = 180px 103px -180px -103px 20px 20px 226px 198px '../images/sprites/sprites.png' 'excel-hover';
$excel_red_name = 'excel-red';
$excel_red_x = 108px;
$excel_red_y = 171px;
$excel_red_offset_x = -108px;
$excel_red_offset_y = -171px;
$excel_red_width = 20px;
$excel_red_height = 20px;
$excel_red_total_width = 226px;
$excel_red_total_height = 198px;
$excel_red_image = '../images/sprites/sprites.png';
$excel_red = 108px 171px -108px -171px 20px 20px 226px 198px '../images/sprites/sprites.png' 'excel-red';
$excel_name = 'excel';
$excel_x = 133px;
$excel_y = 171px;
$excel_offset_x = -133px;
$excel_offset_y = -171px;
$excel_width = 20px;
$excel_height = 20px;
$excel_total_width = 226px;
$excel_total_height = 198px;
$excel_image = '../images/sprites/sprites.png';
$excel = 133px 171px -133px -171px 20px 20px 226px 198px '../images/sprites/sprites.png' 'excel';
$garage_name = 'garage';
$garage_x = 141px;
$garage_y = 0px;
$garage_offset_x = -141px;
$garage_offset_y = 0px;
$garage_width = 60px;
$garage_height = 45px;
$garage_total_width = 226px;
$garage_total_height = 198px;
$garage_image = '../images/sprites/sprites.png';
$garage = 141px 0px -141px 0px 60px 45px 226px 198px '../images/sprites/sprites.png' 'garage';
$gift_name = 'gift';
$gift_x = 77px;
$gift_y = 0px;
$gift_offset_x = -77px;
$gift_offset_y = 0px;
$gift_width = 59px;
$gift_height = 46px;
$gift_total_width = 226px;
$gift_total_height = 198px;
$gift_image = '../images/sprites/sprites.png';
$gift = 77px 0px -77px 0px 59px 46px 226px 198px '../images/sprites/sprites.png' 'gift';
$jak_name = 'jak';
$jak_x = 125px;
$jak_y = 103px;
$jak_offset_x = -125px;
$jak_offset_y = -103px;
$jak_width = 23px;
$jak_height = 23px;
$jak_total_width = 226px;
$jak_total_height = 198px;
$jak_image = '../images/sprites/sprites.png';
$jak = 125px 103px -125px -103px 23px 23px 226px 198px '../images/sprites/sprites.png' 'jak';
$list_add_name = 'list-add';
$list_add_x = 206px;
$list_add_y = 25px;
$list_add_offset_x = -206px;
$list_add_offset_y = -25px;
$list_add_width = 18px;
$list_add_height = 22px;
$list_add_total_width = 226px;
$list_add_total_height = 198px;
$list_add_image = '../images/sprites/sprites.png';
$list_add = 206px 25px -206px -25px 18px 22px 226px 198px '../images/sprites/sprites.png' 'list-add';
$list_name = 'list';
$list_x = 206px;
$list_y = 52px;
$list_offset_x = -206px;
$list_offset_y = -52px;
$list_width = 15px;
$list_height = 21px;
$list_total_width = 226px;
$list_total_height = 198px;
$list_image = '../images/sprites/sprites.png';
$list = 206px 52px -206px -52px 15px 21px 226px 198px '../images/sprites/sprites.png' 'list';
$mail_name = 'mail';
$mail_x = 137px;
$mail_y = 149px;
$mail_offset_x = -137px;
$mail_offset_y = -149px;
$mail_width = 23px;
$mail_height = 15px;
$mail_total_width = 226px;
$mail_total_height = 198px;
$mail_image = '../images/sprites/sprites.png';
$mail = 137px 149px -137px -149px 23px 15px 226px 198px '../images/sprites/sprites.png' 'mail';
$otgruz_name = 'otgruz';
$otgruz_x = 69px;
$otgruz_y = 103px;
$otgruz_offset_x = -69px;
$otgruz_offset_y = -103px;
$otgruz_width = 23px;
$otgruz_height = 24px;
$otgruz_total_width = 226px;
$otgruz_total_height = 198px;
$otgruz_image = '../images/sprites/sprites.png';
$otgruz = 69px 103px -69px -103px 23px 24px 226px 198px '../images/sprites/sprites.png' 'otgruz';
$phone_red_name = 'phone-red';
$phone_red_x = 158px;
$phone_red_y = 171px;
$phone_red_offset_x = -158px;
$phone_red_offset_y = -171px;
$phone_red_width = 20px;
$phone_red_height = 20px;
$phone_red_total_width = 226px;
$phone_red_total_height = 198px;
$phone_red_image = '../images/sprites/sprites.png';
$phone_red = 158px 171px -158px -171px 20px 20px 226px 198px '../images/sprites/sprites.png' 'phone-red';
$porez_name = 'porez';
$porez_x = 0px;
$porez_y = 149px;
$porez_offset_x = 0px;
$porez_offset_y = -149px;
$porez_width = 51px;
$porez_height = 49px;
$porez_total_width = 226px;
$porez_total_height = 198px;
$porez_image = '../images/sprites/sprites.png';
$porez = 0px 149px 0px -149px 51px 49px 226px 198px '../images/sprites/sprites.png' 'porez';
$preorder_name = 'preorder';
$preorder_x = 0px;
$preorder_y = 103px;
$preorder_offset_x = 0px;
$preorder_offset_y = -103px;
$preorder_width = 64px;
$preorder_height = 41px;
$preorder_total_width = 226px;
$preorder_total_height = 198px;
$preorder_image = '../images/sprites/sprites.png';
$preorder = 0px 103px 0px -103px 64px 41px 226px 198px '../images/sprites/sprites.png' 'preorder';
$scheme_name = 'scheme';
$scheme_x = 108px;
$scheme_y = 149px;
$scheme_offset_x = -108px;
$scheme_offset_y = -149px;
$scheme_width = 24px;
$scheme_height = 17px;
$scheme_total_width = 226px;
$scheme_total_height = 198px;
$scheme_image = '../images/sprites/sprites.png';
$scheme = 108px 149px -108px -149px 24px 17px 226px 198px '../images/sprites/sprites.png' 'scheme';
$search_name = 'search';
$search_x = 206px;
$search_y = 0px;
$search_offset_x = -206px;
$search_offset_y = 0px;
$search_width = 20px;
$search_height = 20px;
$search_total_width = 226px;
$search_total_height = 198px;
$search_image = '../images/sprites/sprites.png';
$search = 206px 0px -206px 0px 20px 20px 226px 198px '../images/sprites/sprites.png' 'search';
$skype_name = 'skype';
$skype_x = 97px;
$skype_y = 103px;
$skype_offset_x = -97px;
$skype_offset_y = -103px;
$skype_width = 23px;
$skype_height = 23px;
$skype_total_width = 226px;
$skype_total_height = 198px;
$skype_image = '../images/sprites/sprites.png';
$skype = 97px 103px -97px -103px 23px 23px 226px 198px '../images/sprites/sprites.png' 'skype';
$spec_name = 'spec';
$spec_x = 56px;
$spec_y = 149px;
$spec_offset_x = -56px;
$spec_offset_y = -149px;
$spec_width = 47px;
$spec_height = 44px;
$spec_total_width = 226px;
$spec_total_height = 198px;
$spec_image = '../images/sprites/sprites.png';
$spec = 56px 149px -56px -149px 47px 44px 226px 198px '../images/sprites/sprites.png' 'spec';
$specialist_name = 'specialist';
$specialist_x = 141px;
$specialist_y = 50px;
$specialist_offset_x = -141px;
$specialist_offset_y = -50px;
$specialist_width = 50px;
$specialist_height = 48px;
$specialist_total_width = 226px;
$specialist_total_height = 198px;
$specialist_image = '../images/sprites/sprites.png';
$specialist = 141px 50px -141px -50px 50px 48px 226px 198px '../images/sprites/sprites.png' 'specialist';
$spritesheet_width = 226px;
$spritesheet_height = 198px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $arr_left $arr_right_white $arr_right $cake $car $check_white $check $clock $cross_hover $cross $discount $excel_hover $excel_red $excel $garage $gift $jak $list_add $list $mail $otgruz $phone_red $porez $preorder $scheme $search $skype $spec $specialist;
$spritesheet = 226px 198px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
